body{
    background-color: antiquewhite;
    margin-left: 500px;
    margin-right: 500px;
}

h1,h2,p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: 50px;
}
input{
    width: 98%;
    text-align: center;
}

input:focus {
    border-color: #0056b3; /* Change border color when focused */
    outline: none; /* Remove the default focus outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.8); /* Add a shadow effect on focus */
}

button, #reset{
    background-color: #aa0404;
    border-color: rgb(0, 0, 0);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  width: 100%;
}

.spinner{
    animation: spin 0.8s linear;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.color-changing {
    animation: color-change 1s linear infinite;
}

@keyframes color-change {
    0%   { background-color: red; }
    25%  { background-color: yellow; }
    50%  { background-color: green; }
    75%  { background-color: blue; }
    100% { background-color: red; }
}